@model CodeFirstApproachWith2Table.Models.Tutorial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tutorial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutorialName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorialName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutorialTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorialTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutorialContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorialContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TutorialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
